#amarillo{
	border:1px solid yellow;
	background-color: yellow;
	height: 100px;
	padding: 0px;
	margin: 0px,

	
}
#rojo {
	border: 1px solid red;
	background-color: red;
	height: 100px;
	padding: 0px;
	margin: 0px;
}
p {
	margin: 0px;
	margin: 0px;
}